---
import Layout from '../../layouts/Layout.astro'
import { wpquery } from '../../data/wordpress';

interface Post {
    title: string;
    author: {
        node: {
            name: string;
        };
    };
    featuredImage: {
        node: {
            mediaItemUrl: string;
            srcSet: string;
            sizes: string;
            altText: string;
            alt: string;
        } | null;
    };
    content: string;
}
export async function getStaticPaths() {
    const data = await wpquery({
        query: `
      query LoadAllPosts {
        posts {
          nodes {
            title
            slug
            featuredImage {
              node {
                mediaItemUrl
                srcSet
                sizes
                altText
              }
            }
            content(format: RENDERED)
            author {
              node {
                name
              }
            }
          }
        }
      }
    `,
    });

    return data.posts.nodes.map((post: any) => {
        return {
            params: { slug: post.slug },
            props: { post },
        };
    });
}

const { post } = Astro.props as { post: Post }
---

<Layout title="An Example Blog Post">
    {post.featuredImage?.node && (
            <img
                    src={post.featuredImage.node.mediaItemUrl as any}
                    srcSet={post.featuredImage.node.srcSet as any}
                    sizes={post.featuredImage.node.sizes as any}
                    alt={post.featuredImage.node.altText as any}
            />
    )}
    <h1>{post.title}</h1>

    <p class="byline">Written by {post.author.node.name}</p>

    <p set:html={post.content}></p>

    <p>
        <a href="/">&larr; back to all posts</a>
    </p>
</Layout>
